:root {
  --blue-text: rgb(2, 85, 218);
  --text-shadow: 0 10px 5px rgba(0, 221, 255, 0.994);
  --dark-shadow: 0 10px 15px rgba(0, 61, 141, 0.994);
  --light-shadow: 0 10px 15px rgba(9, 203, 251, 0.933);
  --transition: all 0.3s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: #fff;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ====****** sidebar ******===== */
/* =====******       *******===== */
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--blue-text);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 3s ease-in-out infinite;
  text-shadow: var(--dark-shadow);
}

.sidebar-toggle:hover {
  color: rgba(0, 221, 255, 0.994);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.close-btn {
  font-size: 1.75rem;
  background: none;
  border: none;
  color: rgb(163, 0, 0);
  text-shadow: 0 10px 15px rgba(251, 118, 9, 0.933);
  transition: var(--transition);
  cursor: pointer;
}

.close-btn:hover {
  color: rgba(254, 3, 3, 0.904);
  transform: rotate(360deg);
}

.header-logo {
  justify-self: center;
  font-size: 2rem;
  text-shadow: var(--light-shadow);
}

.links a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: black;
  text-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.links a:hover {
  background: #8bd4fb7d;
  color: var(--blue-text);
  padding-left: 1.75rem;
}

.social-icons {
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;
}

.social-icons a {
  font-size: 1.75rem;
  margin: 0 0.5rem;
  color: black;
  transition: var(--transition);
}

.social-icons a:hover {
  color: var(--blue-text);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: none;
  transition: var(--transition);
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

h1 {
  text-align: center;

  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 60px;
  text-shadow: 0 3px 3px rgba(9, 203, 251, 0.495);
}

p {
  text-align: center;
  color: black;
  font-size: 18px;
}

.contact-form {
  margin-top: 30px;
  text-align: center;
}

iframe {
  border: none;
  box-shadow: 0 10px 15px rgba(0, 61, 141, 0.994);
  margin-bottom: 90px;
  margin-top: 90px;
  border-radius: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
  iframe {
    max-width: 100%;
    height: 600px; /* Adjust height for smaller screens */
  }
}

footer {
  height: 40px;
  font-size: 1rem;
  background-color: rgba(9, 203, 251, 0.495);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
