:root {
  --background: linear-gradient(45deg, #f5f4fe, #f6f6fd, #fff);
  --body-sheet: rgba(194, 242, 254, 0.14);
  --header: linear-gradient(45deg, #c2f2fe, rgba(194, 242, 254, 0.6), #f2f6f7);
  --shadow: 0 0 3px gold;
  --feed: #045770;
  --feed-card1: linear-gradient(#045770, rgba(2, 104, 135, 0.77));
  --feed-card2: linear-gradient(#045770, rgba(2, 104, 135, 0.57));
  --footer: #d6d6d6;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  /* display: flex; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  background: #fff;
}

/* body {
  margin: 64px 16px;
} */

/* nav bar */
.nav-bar {
  padding: 1rem;
  margin: 35px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 30px;
  height: 157px;
  box-shadow: 0px 3px 3px -3px #045770;
  text-shadow: 0px 3px 3px rgba(4, 87, 112, 0.5);
  position: sticky;
  top: 0;
}

.nav-toggle {
  font-size: 1.5rem;
  color: #045770;
  text-shadow: 0px 3px 3px rgba(4, 87, 112, 0.5);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* for other pages */
.logo a {
  text-decoration: none;
  color: #045770;
}

.logo {
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  color: #045770;
  font-size: 2rem;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  height: 40px;

  /* margin: 20px;
    width: 100px;
  /* display: flex; 
  align-items: center;*/
  justify-content: center;
  color: #045770;

  border-radius: 5px; /* Add border-radius for rounded corners */
  /* background: var(--feed-card2); */
  /* box-shadow: var(--shadow); */
  cursor: pointer;
  letter-spacing: 0.1rem;
}

li a:hover {
  background: transparent;
  color: rgb(93, 79, 2);
  /* box-shadow: 0 0 20px #af9e02; */
  padding-left: 0.5rem;
}

li a.selected {
  background-color: transparent; /* Change background color */
  color: rgb(93, 79, 2); /* Change text color */
  /* box-shadow: 0 0 20px #af9e02; */
  cursor: pointer;
}

/* li {
  height: 0;
  transition: all 0.3s linear;
  overflow: hidden;
} */

/* #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

#nav {
  display: none;
  height: auto;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#nav.display {
  display: block;
  height: 10rem;
}

.pref a {
  color: #045770;
  text-decoration: none;
}

.pref {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  font-size: 19px;
  margin-top: 50px;
}

/* this logo-btn is for msg icon 🫣 */
a.logo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 30px;
  /* width: 40px; */
  font-size: 24px;
  cursor: pointer;
}

.logout-btn {
  margin-top: 5px;
  margin-bottom: 0px;
}

h1,
.scripture {
  text-align: center;
  margin-top: 5rem;
}

.scripture {
  margin-bottom: 5rem;
}

.scripture:hover {
  color: red;
}

.pr-board {
  background-image: url(corkboard.jpeg);
  height: 70rem;
  margin: 5rem auto;
  /* height: 100vh; */
  /* width: 100vw; */
  border: 30px solid rgba(10, 109, 126, 0.875);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
}

.sticky {
  background-color: rgb(255, 217, 0);
  width: 190px; /* Adjust the width as needed */
  height: 190px;
  padding: 20px;
  border: 0.3px solid rgba(255, 238, 0, 0.779);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.574);

  position: absolute;
  --rotate: calc(-10deg + 20deg * var(--rotation));
  transform: rotate(var(--rotate));
  overflow-y: scroll;
}

.sticky:nth-child(odd) {
  --rotation: 1;
}

.sticky:nth-child(even) {
  --rotation: -1;
}

/* Adjust the styling of name, sticky-prayer, and grab-prayer as needed */
.sticky .name {
  font-weight: bold;
}

.sticky .sticky-prayer {
  font-family: cursive;
}

.sticky .grab-prayer {
  margin: 10px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 20px;
}

.sticky .grab-prayer:hover {
  color: #01657ef1;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  height: 30px;
}

textarea,
input {
  background: rgb(255, 217, 0);
  border: 2px solid #02799df5;
  width: 300px;
}

.submit {
  font-size: 15px;
  background: var(--feed-card2);
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
  height: 20px;
  margin-top: 7px;
}

/* footer */
footer {
  margin-top: 5rem;
  background: var(--footer);
  height: 40px;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  color: #045770;
}

/* small screen */
@media screen and (min-width: 800px) {
  /* nav bar */
  .logo {
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    color: #045770;
    font-size: 1rem;
  }

  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar {
    background: var(--header);
    box-shadow: 0px 3px 3px -3px gold;
    max-width: 1170px;
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 90px;
  }

  .sitemap {
    padding: 1rem;
  }

  .nav-toggle {
    display: none;
  }

  li {
    height: auto;
    display: flex;
  }

  li a {
    color: #045770;
    font-size: 1.5rem;
    background: none;
    padding: 0;
    margin: 0 0.5rem;
    box-shadow: none;
  }

  li a.selected {
    background-color: transparent;
    box-shadow: none;
    color: rgb(93, 79, 2);
  }

  li a:hover {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  .pref {
    display: grid;
    margin-top: 50px;
  }

  .pref a {
    padding: 0;
    background: transparent;
  }

  .pref a:hover {
    color: rgb(93, 79, 2);
  }
}
